<div class="col-md-6">  
      
        <form [formGroup]="addForm" novalidate class="form">  
          <div class="form-group">  
            <label for="id"> Id:</label>  
            <input type="number" formControlName="id" placeholder="id" name="id" class="form-control" id="id">  
          </div>  
        
          <div class="form-group">  
            <label for="firstname">FirstName:</label>  
            <input formControlName="firstname" placeholder=" firstname" name="firstname" class="form-control" id="firstname">  
            <div class="alert  alert-danger" *ngIf="addForm.get('firstname').hasError('required') && addForm.get('firstname').touched">  
              User firstname is required  
            </div>  
          </div>  
        
          <div class="form-group">  
            <label for="userAge">Lastname:</label>  
            <input formControlName="Lastname" placeholder="Lastname" name="Lastname" class="form-control" id="Lastname">  
            <div class="alert  alert-danger" *ngIf=" addForm.get('Lastname').hasError('maxlength') && addForm.get('Lastname').touched">  
                    Lastname is required 
            </div>  
          </div>  
      
          <div class="form-group">  
            <label for="userPlace">designation:</label>  
            <input formControlName="designation" placeholder="designation" name="designation" class="form-control" id="designation">  
            <div class="alert  alert-danger" *ngIf=" addForm.get('user_place').hasError('required') && addForm.get('designation').touched">  
                    designation is required.  
            </div>  
          </div>
          <div class="form-group">  
                <label for="userPlace"> address:</label>  
                <input formControlName=" address" placeholder=" address" name=" address" class="form-control" id=" address">  
                <div class="alert  alert-danger" *ngIf=" addForm.get('user_place').hasError('required') && addForm.get(' address').touched">  
                        address is required.  
                </div>  
              </div>
      
          <button class="btn btn-success" [disabled]='addForm.invalid' *ngIf="btnvisibility" (click)="onSubmit()">Save</button>  
          <button class="btn btn-success" [disabled]='addForm.invalid' *ngIf="!btnvisibility" (click)="onUpdate()">Update</button>  
        
          <p>Form value: {{ addForm.value | json }}</p>  


        </form>  
      </div>
